@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Share Tech Mono', monospace;
}

body{
background:#020617;
color:#00ff9c;
overflow-x:hidden;
}

#matrix{
position:fixed;
top:0;
left:0;
z-index:-1;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#010409;
box-shadow:0 0 20px #00ff9c;
}

.logo{
font-size:24px;
text-shadow:0 0 10px #00ff9c;
}

nav a{
color:#00ff9c;
text-decoration:none;
margin-left:25px;
transition:0.3s;
}

nav a:hover{
text-shadow:0 0 20px #00ff9c;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:60px;
text-shadow:0 0 15px #00ff9c;
}

.hero span{
color:#00ffd5;
}

.hero p{
margin-top:20px;
font-size:18px;
}

.btn{
margin-top:30px;
padding:12px 30px;
border:2px solid #00ff9c;
background:transparent;
color:#00ff9c;
text-decoration:none;
}

.btn:hover{
background:#00ff9c;
color:black;
box-shadow:0 0 30px #00ff9c;
}

section{
padding:80px 10%;
}

.section-title{
text-align:center;
font-size:35px;
margin-bottom:40px;
text-shadow:0 0 10px #00ff9c;
}

.about-text{
text-align:center;
max-width:700px;
margin:auto;
color:#9af7d1;
}

.skills{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:30px;
}

.card{
background:#010409;
padding:30px;
border:1px solid #00ff9c;
border-radius:8px;
text-align:center;
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 0 30px #00ff9c;
}

.card i{
font-size:35px;
margin-bottom:15px;
color:#00ffd5;
}

.projects{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.project-card{
background:#010409;
padding:25px;
border-radius:8px;
border:1px solid #00ff9c;
transition:0.3s;
}

.project-card:hover{
box-shadow:0 0 40px #00ff9c;
transform:scale(1.05);
}

.contact{
text-align:center;
}

.contact p{
margin:10px;
color:#9af7d1;
}

.social a{
margin:10px;
font-size:22px;
color:#00ffd5;
}

footer{
text-align:center;
padding:20px;
background:#010409;
box-shadow:0 0 20px #00ff9c;
}
